@model IEnumerable<ProjetoIagro.Models.Produtor>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de registros</h1>

<p>
    <a asp-action="Incluir">Registro de produtores</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipio)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.ProdutorID">Editar</a> |
                <a asp-action="Detalhe" asp-route-id="@item.ProdutorID">Detalhes</a> |
            </td>
        </tr>
}
    </tbody>
</table>
